<div class="container" *ngIf="productsInput$ | async as result" [ngSwitch]="result.dataState">
  
    <!-- Error State -->
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert alert-danger" role="alert">
        Error: {{ result.errorMessage }}
      </div>
    </ng-container>
  
    <!-- Loading State -->
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p>Loading products...</p>
    </ng-container>
  
    <!-- Loaded State -->
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table table-striped table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Selected</th> 
            <th scope="col">Available</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <!-- this constitutes one product (here we also pass data to the sub component), it should be duplicated for each product -->
            <app-product-item 
            *ngFor="let product of result.products" 
            [product]="product" 
            style="display: contents;">
          </app-product-item> 
         
        </tbody>
      </table>
    </ng-container>
  </div>
  
